@charset "UTF-8";
@import "import/colorset.less";
@import "import/modal.less";
@import "import/variable.less";
@import "import/mixin.less";

#mainBanner {
  overflow: hidden;
  .swiper-wrapper {
    position: relative;
    .swiper-slide {
      height: 500px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}