@charset "UTF-8";
@import "import/colorset.less";
@import "import/modal.less";
@import "import/variable.less";
@import "import/mixin.less";

#mainBanner {
  overflow: hidden;
  position: relative;

  .swiper-wrapper {
    position: relative;

    .swiper-slide {
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      height: 500px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

#searchKeywordForm {
  margin-top: 50px;
  position: relative;

  .search-condition {
    padding-top: 10px;

    li {
      float: left;
      margin: 0 30px 0 0;

      &.local {
        select {
          width: 120px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }

  button[type='submit'] {
    position: absolute;
    right: 0;
    top: 30px;
  }
}

ul.search-list {
  padding-top: 150px;

  li.search-result {
    float: left;
    width: ~"calc((100% - 90px)/4)";
    box-sizing: border-box;
    border: 1px solid #8f98b3;
    margin-bottom: 30px;
    cursor: pointer;

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }

    .image-area {
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .content-area {
      height: 200px;
      box-sizing: border-box;
      padding: 20px;
      position: relative;

      p.name {
        color: @color-gray;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.5px;
      }

      p.gym {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 18px;
        line-height: 24px;
        color: @color-sub;
        font-weight: 500;
      }

      p.comment {
        .multiple-ellipsis(1.4, 4);
        margin-top: 20px;
        color: @color-gray;
        font-size: 14px;
      }

      p.score {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
        color: @color-main;
      }
    }
  }
}

#profileModal {
  .modal-wrapper {
    position: relative;
    width: 800px;
    padding: 20px;
    overflow: visible;
    border-radius: 4px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 90%;
      height: 20px;
      top: 0;
      left: 0;
      background-color: #fff;
    }
    .label-wrapper {
      position: absolute;
      left: 0;
      top: -32px;
      overflow: hidden;
      z-index: -1;
      border-radius: 10px;
      button.label-btn {
        display: block;
        float: left;
        width: 100px;
        height: 40px;
        background-color: @color-sub;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        border: 0;
        outline: none;
        cursor: pointer ;
        &.on {
          color: @color-sub;
          background-color: #fff;
        }
      }
    }
    .modal-content {
      .label-tab {
        display: none;
        &.on {
          display: block;
        }
      }
    }
  }
}


#searchIcon {
  font-size: 100px;
  color: red;
}