@charset "UTF-8";
.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8000;
  display: none;
  transition: opacity 0s;
  vertical-align: middle;
}
.modal-layer::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.funcmodal-layer {
  overflow-y: auto;
}
.funcmodal-wrapper {
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  width: 320px;
  min-width: 200px;
  float: none;
}
.funcmodal-wrapper .modal-content {
  padding: 40px 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
/*alert modal*/
.modal-wrapper {
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  width: 320px;
  min-width: 200px;
  float: none;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  vertical-align: middle;
}
.modal-wrapper .modal-content {
  padding: 40px 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
.modal-msg {
  width: 100%;
  text-align: center;
}
.modal-msg .tit {
  padding: 0 16px;
  margin: 0;
  color: #292c33;
  font-size: 20px;
  font-weight: 700;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .modal-msg .tit {
    font-size: 16px;
  }
}
.modal-msg p {
  padding: 0 16px;
  margin: 14px 0 0;
  color: #292c33;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}
@media only screen and (max-width: 669px) {
  .modal-msg p {
    margin-top: 10px;
    font-size: 12px;
  }
}
.modal-msg .title {
  font-size: 18px;
  color: #cc2121;
  margin-bottom: 5px;
}
.modal-msg .message {
  margin-top: 0px;
}
.modal-msg .gold {
  color: #ab876f;
}
.modal-btn-area {
  width: 100%;
  line-height: 60px;
  text-align: center;
  border-top: #292c33;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.modal-btn-area.full-modal-btn a,
.modal-btn-area.full-modal-btn button {
  width: 100%;
}
.modal-btn-area a {
  width: 100%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.modal-btn-area button {
  width: 50%;
  font-size: 16px;
  line-height: 58px;
  background-color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-btn-area .modal-confirm,
.modal-btn-area .modal-cancel,
.modal-btn-area .close-modal {
  width: 50%;
  float: left;
  color: #292c33;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
}
/* import/variable { */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.summary-wrapper {
  position: relative;
  height: 600px;
  background-image: url("../image/mypage-01.jpg");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}
.summary-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.summary-wrapper .summary {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-wrapper {
  background-color: #dadde6;
  margin-bottom: 30px;
}
.menu-wrapper ul.menu {
  height: 60px;
  margin: 0 auto;
  width: 1200px;
}
.menu-wrapper ul.menu li {
  float: left;
  margin-right: 60px;
}
.menu-wrapper ul.menu li a {
  display: block;
  color: #292c33;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
}
form#addExercise,
#exerciseList {
  width: 550px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #292c33;
  text-align: center;
  margin-bottom: 50px;
}
form#addExercise h2,
#exerciseList h2 {
  color: #292c33;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}
/* 운동관리 페이지 */
form#addExercise {
  float: left;
}
form#addExercise .input-box {
  margin-bottom: 50px;
  text-align: left;
}
form#addExercise button.add-exercise {
  display: inline-block;
}
#exerciseList {
  float: right;
  min-height: 492px;
}
#exerciseList .exercise {
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #292c33;
  text-align: left;
}
#exerciseList .exercise:not(last-of-type) {
  margin-bottom: 15px;
}
#exerciseList .exercise h4.title {
  color: #cc2121;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
#exerciseList .exercise p.detail span {
  display: inline-block;
  color: #292c33;
  font-size: 16px;
  margin-right: 20px;
}
#exerciseList .exercise p.detail span.part {
  min-width: 120px;
}
#exerciseList .exercise button.delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #292c33;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
form#editProfileForm {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dadde6;
  padding: 30px;
  margin-bottom: 100px;
}
form#editProfileForm .main-info .main-info-wrapper {
  float: left;
  width: 240px;
  margin-right: 100px;
}
form#editProfileForm .main-info .main-info-wrapper img.profile-img {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
form#editProfileForm .main-info .main-info-wrapper button.change-btn {
  float: left;
  margin: 20px 0 0;
  color: #fff;
  background-color: #cc2121;
  border: 0;
}
form#editProfileForm .main-info div.summary {
  float: left;
}
form#editProfileForm .main-info div.summary p.name {
  color: #292c33;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}
form#editProfileForm .main-info div.summary p.belong {
  color: #008526;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}
form#editProfileForm .info-wrapper {
  margin-top: 40px;
  min-height: 110px;
}
form#editProfileForm .info-wrapper .info {
  float: left;
  text-align: left;
}
form#editProfileForm .info-wrapper .info:not(:last-of-type) {
  margin-right: 100px;
}
form#editProfileForm .info-wrapper .category-info,
form#editProfileForm .info-wrapper .award-info {
  width: 50%;
  float: left;
  text-align: left;
}
form#editProfileForm .info-wrapper .category-info .category,
form#editProfileForm .info-wrapper .award-info .category,
form#editProfileForm .info-wrapper .category-info .award,
form#editProfileForm .info-wrapper .award-info .award {
  display: inline-block;
  min-width: 50px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
form#editProfileForm .info-wrapper .category-info .category:not(:last-of-type),
form#editProfileForm .info-wrapper .award-info .category:not(:last-of-type),
form#editProfileForm .info-wrapper .category-info .award:not(:last-of-type),
form#editProfileForm .info-wrapper .award-info .award:not(:last-of-type) {
  margin-right: 10px;
}
form#editProfileForm .info-wrapper .category-info .category.category,
form#editProfileForm .info-wrapper .award-info .category.category,
form#editProfileForm .info-wrapper .category-info .award.category,
form#editProfileForm .info-wrapper .award-info .award.category {
  background-color: #cc2121;
}
form#editProfileForm .info-wrapper .category-info .category.award,
form#editProfileForm .info-wrapper .award-info .category.award,
form#editProfileForm .info-wrapper .category-info .award.award,
form#editProfileForm .info-wrapper .award-info .award.award {
  background-color: #008526;
}
form#editProfileForm .pay-wrapper,
form#editProfileForm .comment-wrapper {
  text-align: left;
  margin-top: 40px;
}
form#editProfileForm .pay-wrapper textarea.content,
form#editProfileForm .comment-wrapper textarea.content {
  display: block;
  min-height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 4px;
  background-color: #f0f2f7;
  border: 1px solid #dadde6;
  color: #292c33;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
form#editProfileForm button[type="submit"] {
  margin: 50px auto 0;
}
form#userSearchForm h3.title {
  font-size: 24px;
}
form#userSearchForm .radio-wrapper {
  float: left;
  margin-right: 30px;
}
