@charset "UTF-8";

#header {
    position: static;
    float: left;
    margin-bottom: 0px;

}
div.imgPart {
    float: right;
    margin-top: -15px;
    margin-bottom: 0px;
    width: 60%;
    height: 740px;
    background-image: url(../image/signUp.jpg);
}
#container{
    height: 674px;
}
#container .signUpPart{
    position: absolute;
    top: 170px;
    left: 50px;
    width: 200px;
    height: 538px;
    background-color: #ffffff;
    padding: 20px 0px 0px 350px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
}
#container .signUpPart .buttonPart input{
    display: none;
}
.buttonPart{
    margin-top: 30px;
    width: 200px;
    text-align: center;
}
.bold{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.bold_small{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    color: #008526;
}
.button-label {
    display: inline-block;
    width: 100px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: #008526;
    border: 1px solid #008526;
    border-radius: 5px;
    background: #ffffff;
    transition: 0.3s;
    user-select: none;
}
.button-label:active {
    transform: translateY(2px);
}
input[type="radio"]:checked + label  {
    background: #008526;
    color: #ffffff;
}
button.main{
    width: 100%;
    margin: 25px 0px 0px 0px;
}
