@charset "UTF-8";

#container .wrapper form .title{
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 60px 0px 40px;
}
#container .wrapper {
    width: 600px;
    margin: 0 auto;
}
#container .wrapper form input[type="text"]{
    margin: 10px 0px 30px 0px;
    width: 60%;
    height: 40px;
}
#container .wrapper form input[type="radio"]{
    margin: 20px 0px 30px 0px;
}
#container .wrapper form label{
    margin-right: 20px;
}
#container .wrapper form{
    position: relative;
    height: 900px;
}
#container .wrapper form button#idCheck{
    position: absolute;
    top: 106px;
    right: 140px;
    background-color: #fff;
    color: #008526;
    border: 1px solid #008526;
    border-radius: 4px;
    width: 90px;
    height: 40px;
}
#container .wrapper form img{
    float: left;
    width: 200px;
    height: 200px;
    margin: 15px 20px 20px 0px;
}
#container .wrapper form input[type="file"]{
    padding-top: 187px;
}
#container .wrapper a{
    width: 130px;
    margin: 20px auto;
}
.errMsg{
    position: absolute;
    top: 150px;
    right: 380px;
    font-size: 13px;
    width: 220px;
}