
/*회원관리 페이지 구역*/
.user{width:1200px; height: auto; margin: 0 auto 100px auto;  
min-height: 450px;}

/*aside*/
.user-aSide{width: 300px; height: auto; display: inline-block; }

#member-choice{margin:0px;}
.user-keyword{width: 300px; height:30px; }
#user-searchBar{ margin:0 5px 0 0px;  display: inline; }

/*aside-회워목록*/
table{ 
   width:250px;
   margin:20px 0px 20px 0px;
   border-right: none;
   border-left: none;
   border-collapse : collapse;
   
   border-top: 2px solid #cc2121;
}

tr{border-bottom: 1px solid #a0a0a0;}
td{padding:10px;}


/*회원정보 구역*/
.user-informationArea{width: 900px; height: auto;  margin:0 0 60px 0;float: right;  }   
#plusButton{display: inline; margin:0 0 0 800px;  border:1px solid #cc2121;  
}

.user-information{width: 700px; height: auto;  margin:20px 0 20px 60px;}
.informationBox{
   width: 700px; height: auto; border:1px solid #a0a0a0; 
   border-radius: 4px;
   }

#info{display: inline; margin:5px;  border:1px solid #a0a0a0; }


.box-img{width: 250px; height: 250px; padding:10px 10px }
.box-text{width: 400px; height: auto; float: right;
            margin:70px 10px 10px 10px;}

.mem-info{margin:5px;}
.mem-name{font-weight: bold;}

/*모달*/
#member-modal{width: 200px; margin:10px 10px 10px 55px; }